Django                  >=5.0,<6.0
psycopg2-binary         >=2.9
djangorestframework     >=3.15
django-pgvector         >=0.1   # for vector search
celery                  >=5.3
redis                   >=5.0
python-dotenv           >=1.0   # for environment variables
pyyaml                  >=6.0
sentence-transformers   >=2.2   # for sentence embeddings
numpy                   >=1.24
python-frontmatter      >=1.0.0